<div class="main">
  <div class="view_contents">
    <div class="main_view">
      <img src="/assets/top.jpg" class="main_img">
        <div class="view_text">
          <p>街や人々を幸せに。<span>建築</span>を通して<span>貢献</span>します。</p>
        </div>
    </div>
  </div>

  <div class="main_text">
    <p>新たな価値を創造する</p>
    <p>喜びや感動のあるモノ造りを</p>
  </div>
</div>

<div class="ofice" id="target_guide">
  <div class="title_bar">
    <h1>会社案内</h1>
  </div>
  <div class="business_contents">
    <div class="business_text">
      <div class="business_title">
        <h2>社名に込めた想い</h2>
      </div>
      <div class="business_comment">
        <p>
        私たちは【地域・社会・関わる皆様一人一人に貢献する】を企業理念として活動しています。<br>
        お客様の家をより長く、より快適に過ごしていただけるような住まいと暮らしをご提案します。<br>
        また、テナントや商業施設などスケルトン工事や居抜き物件の新装工事、業態変更による改装工事等<br>
        理想を現実に、付加価値をつけより良い空間づくりを行います。<br>
        皆様に”コーケン”できるよう、丁寧なヒアリングと確かな品質、<br>
        そして円滑な工事の遂行をお約束します。<br>
        地域に“コーケン”したいとの想いから、まずは地元武蔵新城に拠点を構え、更には川崎市全体の地域活性化を目指しています。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="business" id="target_project">
  <div class="title_bar">
    <h1>事業内容</h1>
  </div>
  <div class="business_contents">
    <div class="business_text">
      <div class="business_title">
        <h2>建築事業を柱に</h2>
      </div>
      <div class="business_comment">
        <p>
        神奈川県川崎市に拠点を構える工務店です。<br>
        主にマンションや戶建てのフルリノベーションから部分リフォーム、または原状回復工事を請け負っています。<br>
        その他テナントや商業施設のリニューアル工事も請け負っています。<br>
        また、建築の知識を生かし、コンサルタント業務や不動産売買のご紹介、ご提案から含め<br>
        お客様のニーズに合わせた設計者様のご紹介もしております。
        </p>
      </div>
    </div>
    <div class="overview_image">
      <%= image_tag "logo.jpg", :size =>'340x300' %>
    </div>
  </div>
</div>

<div class="example" id="target_instance">

  <div class="title_bar">
    <h1>施工事例</h1>
  </div>


    <%= render "examples/post" %>


</div>

<div class="news" id="target_news">
  <div class="title_bar">
    <h1>News</h1>
  </div>
  <div class="posts">
    <% @tweets.each do |tweet| %>
    <%= link_to tweet_path(tweet.id), method: :get do %>
    <div class="post">
      <div class="post_left">
        <div class="news_image">  
          <%= image_tag tweet.image,class:"item-box-img" if tweet.image.attached? %>
        </div>
      </div>
      <div class="post_right">
        <div class="news_date">
          <%= l tweet.created_at %>
        </div>
        <div class="news_title">
          <%= tweet.title %>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
    <div class="btn">
        <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
        <%= link_to '削除', tweet_path(tweet.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
  <div class="yazirusi">
  <%= image_tag "yazirusi.png" %>
  </div>
</div>


  <div class="overview" id="target_overview">
    <div class="title_bar">
      <h1>会社概要</h1>
    </div>

    <div class="overview_content">
      <div class="overview_contents_left">
        <div class="overview_item">
          <div class="overview_item_left">
            <p>名称</p>
          </div>
          <div class="overview_item_right">
            <p>コーケン株式会社</p>
          </div>
        </div>

        <div class="overview_item">
          <div class="overview_item_left">
            <p>所在地</p>
          </div>
          <div class="overview_item_right">
            <p>〒211-0045 神奈川県川崎市中原区上新城2丁目6番11<br>
               TEL/FAX:044-387-0402</p>
          </div>
        </div>

        <div class="overview_item">
          <div class="overview_item_left">
            <p>代表取締役</p>
          </div>
          <div class="overview_item_right">
            <p>平岡 健太</p>
          </div>
        </div>

        <div class="overview_item">
          <div class="overview_item_left">
            <p>資本金</p>
          </div>
          <div class="overview_item_right">
            <p>5,000,000円</p>
          </div>
        </div>

        <div class="overview_item">
          <div class="overview_item_left">
            <p>事業内容</p>
          </div>
          <div class="overview_item_right">
            <p>リフォーム工事<br>
               その他建築工事(解体・外構・防水・屋根・造園等)<br>
               コンサルタント業務<br>
               現場管理業務(安全・予算・品質・工程)</p>
          </div>
        </div>

        <div class="overview_item">
          <div class="overview_item_left">
            <p>facebook URL</p>
          </div>
          <div class="overview_item_right">
            <p>https://www.facebook.com/kohken1215</p>
          </div>
        </div>

        <div class="overview_item">
          <div class="overview_item_left">
            <p>instagram URL</p>
          </div>
          <div class="overview_item_right">
            <p>https://www.instagram.com/ko_ken1215</p>
          </div>
        </div>

      </div>

      <div class="overview_contents_right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.612423285537!2d139.62861551555312!3d35.58795694268855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f5b7cc9210cd%3A0xdb05a6840874ce31!2z44CSMjExLTAwNDUg56We5aWI5bed55yM5bed5bSO5biC5Lit5Y6f5Yy65LiK5paw5Z-O77yS5LiB55uu77yW4oiS77yR77yRIOefs-S6leODk-ODqw!5e0!3m2!1sja!2sjp!4v1620300581835!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>

  </div>