<div class="main">

  <div class="view_contents">
  <div class="main_view">
    <%= image_tag "top.jpg", :size =>'1665x830'%>
  </div>
  <div class="view_text">
    <p>人々を幸せに。</p>
  </div>
  </div>

  <div class="main_text">
    <p>デザインを武器に幸せな暮らしづくり</p>
    <p>社会貢献で快適を広くとどけたい</p>
  </div>

</div>


<div class="news" id="target_news">
  <div class="title_bar">
    <h1>News</h1>
  </div>
  <div class="posts">
      <% @tweets.each do |tweet| %>
      <%= link_to tweet_path(tweet.id), method: :get do %>
      <div class="post">
        <div class="news_image">  
          <%= image_tag tweet.image,class:"item-box-img" if tweet.image.attached? %>
        </div>
        <div class="news_title">
          <%= tweet.title %>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>
</div>


<div class="business" id="target_project">
  <div class="title_bar">
    <h1>事業内容</h1>
  </div>
  <div class="business_contents">
    <div class="business_text">
      <div class="business_title">
        <h2>建築事業を柱に</h2>
      </div>
      <div class="business_comment">
        <p>地域に住むお客様の家を、より長く、より快適に過ごしていただけるように、建物内外の補強改善、機能美改修、趣味の部屋づくり、また、ペット（猫）との共生住宅改修など、様々なニーズの工事に対応しております。
          <br>
          今よりももっと愛着のある住まいと暮らしをご提案いたします。弊社では、「お客様」はもちろん、「地域社会」、「従業員」から
          愛される経営を実現するためにCSR活動に力を入れています。
        </p>
      </div>
    </div>
    <div class="business_image">
      <%= image_tag "koken_logo.png" %>
    </div>
  </div>
</div>


<div class="example" id="target_instance">
  <div class="title_bar">
    <h1>施工事例</h1>
  </div>
  <div class="example_contents">
    <div class="example_upper-contents">
      <div class="example_content">
        <div class="example_image">
          <div class="center">
            <div>
              <img class="big_img1" src="/assets/hanako.jpg" id="bigimg1">
            </div>
            <ul>
              <li><img src="/assets/hanako.jpg" class="thumb1" data-image="/assets/hanako.jpg"></li>
              <li><img src="/assets/takasi" class="thumb1" data-image="/assets/takasi.jpg"></li>
              <li><img src="/assets/hotel" class="thumb1" data-image="/assets/hotel.jpg"></li>
              <li><img src="/assets/kowa-king" class="thumb1" data-image="/assets/kowa-king.jpg"></li>
            </ul>
          </div>
        </div>
        <div class="example_comment">
          たかし様邸
        </div>
        <div class="example_text">
          <p>川崎市高津区</p>
          <p>○×事務所</p>
        </div>
      </div>
      <div class="example_content">
        <div class="example_image">
          <div class="center">
            <div>
              <img class="big_img2" src="/assets/hanako.jpg" id="bigimg2">
            </div>
            <ul>
              <li><img src="/assets/hanako.jpg" class="thumb2" data-image="/assets/hanako.jpg"></li>
              <li><img src="/assets/takasi" class="thumb2" data-image="/assets/takasi.jpg"></li>
              <li><img src="/assets/hotel" class="thumb2" data-image="/assets/hotel.jpg"></li>
              <li><img src="/assets/kowa-king" class="thumb2" data-image="/assets/kowa-king.jpg"></li>
            </ul>
          </div>
        </div>
        <div class="example_comment">
          幸せホテル
        </div>
        <div class="example_text">
          <p>川崎市高津区</p>
          <p>○×事務所</p>
        </div>
      </div>
    </div>
    <div class="example_lower-contents">
      <div class="example_content">
        <div class="example_image">
          <div class="center">
            <div>
              <img class="big_img3" src="/assets/hanako.jpg" id="bigimg3">
            </div>
            <ul>
              <li><img src="/assets/hanako.jpg" class="thumb3" data-image="/assets/hanako.jpg"></li>
              <li><img src="/assets/takasi" class="thumb3" data-image="/assets/takasi.jpg"></li>
              <li><img src="/assets/hotel" class="thumb3" data-image="/assets/hotel.jpg"></li>
              <li><img src="/assets/kowa-king" class="thumb3" data-image="/assets/kowa-king.jpg"></li>
            </ul>
          </div>
        </div>
        <div class="example_comment">
          コワーキングスペース
        </div>
        <div class="example_text">
          <p>川崎市高津区</p>
          <p>○×事務所</p>
        </div>
      </div>
      <div class="example_content">
        <div class="example_image">
          <div class="center">
            <div>
              <img class="big_img4" src="/assets/hanako.jpg" id="bigimg4">
            </div>
            <ul>
              <li><img src="/assets/hanako.jpg" class="thumb4" data-image="/assets/hanako.jpg"></li>
              <li><img src="/assets/takasi" class="thumb4" data-image="/assets/takasi.jpg"></li>
              <li><img src="/assets/hotel" class="thumb4" data-image="/assets/hotel.jpg"></li>
              <li><img src="/assets/kowa-king" class="thumb4" data-image="/assets/kowa-king.jpg"></li>
            </ul>
          </div>
        </div>
        <div class="example_comment">
          はなこ様邸
        </div>
        <div class="example_text">
          <p>川崎市高津区</p>
          <p>○×事務所</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ofice" id="target_guide">
  <div class="title_bar">
    <h1>会社案内</h1>
  </div>
  <div class="office_image">
    <%= image_tag "office.jpg", :size =>'1260x500' %>
  </div>
  <div class="overview">
    <div class="overview_title">
      <h2>概要</h2>
    </div>
    <div class="overview_contents">
      <div class="overview_text">
        住み良い街づくりのため、環境にやさしい仕事にチャレンジし、<br>
お客様の喜びや感動を最も大切に考えております。<br>
私たちは、お客様から信頼され、愛される企業となれるよう日々努力して参ります。<br>
今後ともご支援、ご愛顧を賜りますよう心よりお願い申し上げます。
      </div>
      <div class="overview_image">
        <%= image_tag "hiraoka.jpg", :size =>'540x500' %>
      </div>
    </div>
  </div>
  <div class="profile">
    <div class="guide">
      <div class="company">
        <h2>コーケン株式会社</h2>
      </div>
      <div class="director">
        <p>代表取締役：平岡 健太</p>
      </div>
      <div class="address">
        <p>addres：神奈川県川崎市中原区上新城２−６−１１石井ビル３０２</p>
      </div>
      <div class="tel">
        <p>tel：044-387-0402</p>
      </div>
      <div class="mail">
        <p>mail:k.hiraoka@ko-ken1215.co.jp</p>
      </div>
    </div>
    <div class="history">
      <div class="history_title">
        <h2>沿革</h2>
      </div>
      <div class="history_contents">
        <div class="history_content">
          <div class="history_year">
            2015年
          </div>
          <div class="history_text">
            個人事業コーケン設立
          </div>
        </div>
        <div class="history_content">
          <div class="history_year">
            2019年
          </div>
          <div class="history_text">
            フェイスブック立ち上げ
          </div>
        </div>
        <div class="history_content">
          <div class="history_year">
            2020年
          </div>
          <div class="history_text">
            コーケン株式会社設立
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.612423285537!2d139.62861551555312!3d35.58795694268855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f5b7cc9210cd%3A0xdb05a6840874ce31!2z44CSMjExLTAwNDUg56We5aWI5bed55yM5bed5bSO5biC5Lit5Y6f5Yy65LiK5paw5Z-O77yS5LiB55uu77yW4oiS77yR77yRIOefs-S6leODk-ODqw!5e0!3m2!1sja!2sjp!4v1620300581835!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>