<div class="control">
  <h1>管理画面</h1>
</div>
<%# ログインボタンとログイン画面のURL
<%= link_to "ログイン", new_user_session_path %>
<%#http://localhost:3000/users/sign_in %>
<div class="title_bar">
  <h2>投稿フォーム</h2>
</div>

<%= render partial: "form", locals: {tweet: @tweet }%>

<div class="news" id="target_news">
  <div class="title_bar">
    <h2>投稿記事一覧</h2>
  </div>
  <div class="posts">
    <% @tweets.each do |tweet| %>
    <%= link_to tweet_path(tweet.id), method: :get do %>
    <div class="post">
      <div class="post_left">
        <div class="news_image">  
          <%= image_tag tweet.image,class:"item-box-img" if tweet.image.attached? %>
        </div>
      </div>
      <div class="post_right">
        <div class="news_date">
          <%= l tweet.created_at %>
        </div>
        <div class="news_title">
          <%= tweet.title %>
        </div>
      </div>
    </div>
      <div class="btn">
        <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
        <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
      </div>
    <% end %>
    <% end %>
  </div>
  <div class="yazirusi">
  <%= image_tag "yazirusi.png" %>
  </div>
</div>