<!DOCTYPE html>
<html>
  <head>
    <title>Koken</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-nav">
        <div class="header-logo">
          <h2>
            <a href="/">コーケン株式会</a>
          </h2>
        </div>
        <div class="header-list">
          <ul>
            <li>会社案内</li>
            <li>事業内容</li>
            <li>施工事例</li>
            <li>メディア</li>
            <li><%= link_to "お問い合わせ", new_contact_path %></li>
            <li><%= link_to image_tag("insta1.png"), 'https://www.instagram.com/ko_ken1215/' %></li>
            <li><%= link_to image_tag("fb.png"), 'https://www.facebook.com/kohken1215' %></li>
            <li>  <%= link_to "管理画面へ", new_tweet_path %></li>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
